body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    height: 400px;
    width: 400px;
    background-color: #878e999b;
    display: flex;
    flex-wrap: wrap;
    border: 0.1rem solid #7F6A93;
}
.box{
    width: 33%;
    height: 33%;
    background-color: #D3D5D4;
    border: 0.01rem solid #9DB5B2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #7F6A93;
    font-weight: bolder;
}
.box:hover{
    background-color: #9DB5B2;
}
/* overlay */
.winbox-main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 30%;
    height: 30%;
    flex-direction: column;
    background-color: #D3D5D4;
    border: 0.25rem solid #9DB5B2;
    color: #7F6A93;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 1rem;
    
}
.winbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.572);
    
}
button{
    border-radius: 1rem;
    border: 0.25rem solid #9DB5B2 ;
    font-weight: 600;
    color: #7F6A93;
}
button:hover{
    color:#9DB5B2;
    background-color: #7F6A93;
}

.hidden{
    display: none;
}
